{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": ["standard"],
  "rules": {
    "indent": ["error", 2],
    "no-console": ["off"],
    "semi": ["error", "always"],
    "no-var": "error",
    "func-names": "error",
    "quotes": ["error", "single", {
      "allowTemplateLiterals": true,
      "avoidEscape": true
    }],
    "space-before-function-paren": "off",
    "node/exports-style": [
      "error",
      "module.exports",
      {
        "allowBatchAssign": false
      }
    ]
  }
}